.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 30px; /* Add some margin between dice elements */
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem; /* Adjust the font size for smaller screens */
  color: #4ECCA3;
}

p {
  font-size: 1.5rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.imager {
  width: 100%;
  text-align: center;
}

img {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.refresh-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4ECCA3;
  color: #FFF;
  border: none;
  border-radius: 5px;
}

.refresh-button:hover {
  background-color: #328c7a;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1s linear infinite;
}

@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 20%;
  }

  h1 {
    font-size: 3rem;
  }

  .imager {
    display: flex;
  }

  img {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
  }

  p {
    font-size: 1rem;
  }

  .dice {
    display: inline-block;
    margin: 10px;
  }

  .rotate {
    animation: rotate 1s linear infinite;
  }
  footer {
    margin-top: 15%;
  }
}